#app {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#app canvas {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 50%;
  right: 0;

  width: 100vw;
  height: 100vh;

  transform: translate(-50%, -25%);

  image-rendering: optimizeSpeed;
  cursor: pointer;
  margin: auto;
}
